@using Infragistics.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />
   
     <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.lob.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.dv.js")"></script>
</head>
<body>

    @(
        Html.Infragistics().RadialMenu()
            .ID("rMenu")
            .Width("300px")
            .Height("300px")

            .Items(i =>
                {
                    i.Item("button1")
                        .Header("Bold")
                        .IconUri("../../images/samples/radial-menu/Bold.png")
                        .ClientEvents(new Dictionary<string, string>() { { "click", "function(evt, ui) { alert('Bold clicked'); }" } });

                    i.Item("button2")
                        .Header("Italic")
                        .IconUri("../../images/samples/radial-menu/Italic.png")
                        .ClientEvents(new Dictionary<string, string>() { { "click", "function(evt, ui) { alert('Italic clicked'); }" } });
                    
                    i.ColorItem("colorItem1")
                        .Header("Color")
                        .IconUri("../../images/samples/radial-menu/Background.png")
                        .Items(si =>
                            {
                                si.ColorWell().Color("#FFFF00");
                                si.ColorWell().Color("#C00000");
                                si.ColorWell().Color("#008000");
                                si.ColorWell().Color("#002060");
                                si.ColorWell().Color("#000000");
                            });
                    
                    i.NumericGauge("numGauge1")
                        .WedgeSpan(5)
                        .Ticks(new double[] {8,9,10,11,12,13,14,16,18,20,22,24,26,28,36,48})
                        .Value(16);
                })
            .Render()
    )

</body>
</html>