@using Infragistics.Web.Mvc
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.lob.js")"></script>

</head>
<body>
    @(Html.Infragistics()
        .Splitter()
        .ID("splitter")
        .Height("500px")
        .Orientation(SplitterOrientation.Horizontal)
        .SplitterPanelSettings(p =>
        {
            p.AddPanel().Size("150px").Min("30px").Max("280px");
            p.AddPanel().Size("150px").Collapsible(true);
        })
        .Render()
    )
</body>
</html>
