@using Infragistics.Web.Mvc
@model IQueryable<IgniteUI.SamplesBrowser.Models.Northwind.Invoice>

<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.dv.js")"></script>

</head>
<body>
 <table>
  <tr>
   <td  style="width: 330px;">
    @(Html.Infragistics().Sparkline<IgniteUI.SamplesBrowser.Models.Northwind.Invoice>(Model)
        .ID("sparkline")
        .Height("100px")
        .Width("100%")
        .ValueMemberPath("ExtendedPrice")
        .DataBind()
        .Render()    
    )
   </td>
  </tr>
 </table>
 
</body>
</html>
