@using Infragistics.Web.Mvc.Mobile


<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="@Url.Content("~/css/jqm/jquery.mobile.structure.min.css")" rel="stylesheet" />

    <!-- Required Ignite UI Mobile Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/mobile/css/structure/infragistics.mobile.css")"  rel="stylesheet"/>
    <link href="@Url.Content("~/igniteui/mobile/css/themes/ios/infragistics.mobile.theme.css")"  rel="stylesheet"/>
    
    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.mobile.min.js")"></script>

    <!-- Required Ignite UI Mobile Combined JavaScript File -->
    <script src="@Url.Content("~/igniteui/mobile/js/infragistics.mobile.js")"></script>
</head>
<body>
    <div data-role="page">
        <style>
            .slider-container {
                margin: 0 0 20px 0;
            }
        </style>         

        <div data-role="content">
            <p>Basic Slider</p>      
            <div class="slider-container">
                @(Html.InfragisticsMobile()
                    .Slider()
                    .ID("VolumeSlider")
                    .MinValue(0.0)
                    .MaxValue(99.0)
                    .Step(1.0)
                    .Value(45.0)
                    .Render()
                 )
            </div>     
            <p>Without Textbox</p>
            @(Html.InfragisticsMobile()
                .Slider()
                .ID("BassSlider")
                .MinValue(0.0)
                .MaxValue(99.0)
                .Step(1.0)
                .Value(25.0)
                .NumericInputDisplayMode(Infragistics.Web.Mvc.Mobile.DisplayMode.None)
                .Render()
             )

        </div>
    </div>

</body>
</html>
