@using Infragistics.Web.Mvc
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.lob.js")"></script>
    <script>
        $(document).ready(function () {
            $('#LayoutManager1').on("iglayoutmanageritemrendered", function (e, args) {
                args.item.text(args.index);
                args.item.css("background-color", "#2CBDF9");
                args.item.css("color", "#FFF");
                args.item.css("font-size", "20px");
                args.item.css("padding", "5px 0 0 5px");
            });
        });
    </script>
</head>
<body>
    @(Html.Infragistics()
        .LayoutManager()
        .LayoutMode("flow")
        .ItemCount(5)
        .Render()
    )
</body>
</html>
