@{
    ViewBag.Title = "_MobileThemes";
}

<div id="igsb-mobileThemes">
    <div id="igsb-themeButton"><span class="igsb-themeName"></span><span class="igsb-mobileThemes-dropdown"></span></div>
    <ul id="igsb-themeSelector">
        <li class="igsb-themeItem">
            <span class='igsb-list-image ios'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.iOS</span>
                <span class='igsb-list-version'></span>
            </span>
            <span class='igsb-list-imageName' style="display: none">ios</span>
            <span class='igsb-list-value' style="display: none">ios</span>
        </li>
        <li class="igsb-themeItem">
            <span class='igsb-list-image android-hololight'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.Android</span>
                <span class='igsb-list-version'>@Resources.Main.Android_LightVersion</span>
            </span>
            <span class='igsb-list-imageName' style="display: none">android</span>
            <span class='igsb-list-value' style="display: none">android/hololight</span>
        </li>
        <li class="igsb-themeItem">
            <span class='igsb-list-image android-hololightdark'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.Android</span>
                <span class='igsb-list-version'>@Resources.Main.Android_LightDarkVersion</span>
            </span>
            <span class='igsb-list-imageName' style="display: none">android</span>
            <span class='igsb-list-value' style="display: none">android/hololightdark</span>
        </li>
        <li class="igsb-themeItem">
            <span class='igsb-list-image android-holodark'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.Android</span>
                <span class='igsb-list-version'>@Resources.Main.Android_DarkVersion</span>
            </span>
            <span class='igsb-list-imageName' style="display: none">android</span>
            <span class='igsb-list-value' style="display: none">android/holodark</span>
        </li>
        <li class="igsb-themeItem">
            <span class='igsb-list-image wp7-light'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.WindowsPhone7</span>
                <span class='igsb-list-version'>@Resources.Main.WindowsPhone7_LightVersion</span>
            </span>
            <span class='igsb-list-imageName' style="display: none">wp7</span>
            <span class='igsb-list-value' style="display: none">windowsphone/light</span>
        </li>
        <li class="igsb-themeItem">
            <span class='igsb-list-image wp7-dark'></span>
            <span class="mobileTheme">
                <span class='igsb-list-text'>@Resources.Main.WindowsPhone7</span>
                <span class='igsb-list-version'>@Resources.Main.WindowsPhone7_DarkVersion</span>
            </span>
            <span class='igsb-list-imageName' style="display: none">wp7</span>
            <span class='igsb-list-value' style="display: none">windowsphone/dark</span>
        </li>
    </ul>
</div>
