@using Infragistics.Web.Mvc
@using IgniteUI.SamplesBrowser.Models

<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.lob.js")"></script>
    <script>
        // neccessary for older IE browsers
        $.support.cors = true;
    </script>

    <style>
        #dataSelector, #pivotGrid {
            float: left;
        }
    </style>
</head>
<body>
    @(Html.Infragistics().OlapDataSource().ID("xmlaDataSource")
        .DataSourceOptions(
            dataSourceOptions => dataSourceOptions
                .Columns("[Product].[Product Categories]")
                .Rows("[Sales Territory].[Sales Territory]")
                .Measures("[Measures].[Internet Order Count]")
                .XmlaOptions(
                xmlaOptions => xmlaOptions
                    .ServerUrl("http://sampledata.infragistics.com/olap/msmdpump.dll")
                    .Catalog("Adventure Works DW Standard Edition")
                    .Cube("Adventure Works")
                    .MeasureGroup("Internet Sales"))).Render())

    @(Html.Infragistics().PivotDataSelector().Width("250px").Height("650px").DataSourceID("xmlaDataSource").ID("dataSelector").Render())
    @(Html.Infragistics().PivotGrid().Width("660px").Height("650px").DataSourceID("xmlaDataSource").ID("pivotGrid").Render())
</body>
</html>
