@using Infragistics.Web.Mvc
@using IgniteUI.SamplesBrowser.Models
@model IQueryable<IgniteUI.SamplesBrowser.Models.Northwind.Order>
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="@Url.Content("~/igniteui/js/infragistics.core.js")"></script>
    <script src="@Url.Content("~/igniteui/js/infragistics.lob.js")"></script>

    <style type="text/css">
        .export-pdf-xps-sample fieldset {
            margin: 5px;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #CCCCCC;
        }

            .export-pdf-xps-sample fieldset label {
                display: block;
                margin-bottom: 3px;
            }

            .export-pdf-xps-sample fieldset input {
                margin-bottom: 5px;
                float: left;
                clear: left;
            }

            .export-pdf-xps-sample fieldset label {
                float: left;
                width: 130px;
                padding-top: 2px;
            }

            .export-pdf-xps-sample fieldset fieldset {
                display: inline-block;
                vertical-align: middle;
                width: auto;
            }

        #grid1_container {
            margin: 15px auto;
        }

        .export-pdf-xps-sample .button-container {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            height: auto;
        }
    </style>
</head>
<body>
    @using(Html.BeginForm())
    {
        <div class="export-pdf-xps-sample">
            <fieldset>
                <legend>Export Options</legend>
                <fieldset>
                    <legend>Export Format</legend>
                    <input type="radio" name="pageFormat" id="pageFormatPdf" value="pdf" checked="checked" />
                    <label for="pageFormatPdf">PDF Format</label>
                    <input type="radio" name="pageFormat" id="pageFormatXps" value="xps" />
                    <label for="pageFormatXps">XPS Format</label>
                </fieldset>
                <fieldset>
                    <legend>Export Orientation</legend>
                    <input type="radio" name="pageOrientation" id="pageOrientationPor" value="portrait" checked="checked" />
                    <label for="pageOrientationPor">Portrait</label>
                    <input type="radio" name="pageOrientation" id="pageOrientationLan" value="landscape" />
                    <label for="pageOrientationLan">Landscape</label>
                </fieldset>
                <fieldset>
                    <legend>Export Type</legend>
                    <input type="radio" name="exportType" id="currentPage" value="currentPage" checked="checked" />
                    <label for="currentPage">Current Page</label>
                    <input type="radio" name="exportType" id="allPages" value="allPages" />
                    <label for="allPages">All Pages</label>
                </fieldset>
                <div class="button-container">
                    <input id="btnSubmit" type="submit" value="Export Button" />
                </div>
            </fieldset>
        </div>

        <script type="text/javascript">
            $(function () {
                var grid = $("#grid1"),
                    pageSize = $("#pageSize"),
                    pageNumber = $("#pageNumber");

                pageNumber.val(0);
                pageSize.val(0);

                grid.on("iggridrendered", function (e, ui) {
                    pageSize.val(grid.igGridPaging("option", "pageSize"));
                    pageNumber.val(grid.igGridPaging("option", "currentPageIndex"));
                });

                grid.on("iggridpagingpageindexchanged", function (e, ui) {
                    pageNumber.val(ui.pageIndex);
                });

                grid.on("iggridpagingpagesizechanged", function (e, ui) {
                    pageSize.val(ui.pageSize);
                    pageNumber.val(0);
                });
            });
        </script>

        @(Html.Infragistics().Grid(Model).ID("grid1")
        .PrimaryKey("OrderID")
        .AutoGenerateColumns(false)
        .Columns(column =>
        {
            column.For(x => x.OrderID).HeaderText("Order ID").DataType("number");
            column.For(x => x.ContactName).HeaderText("Contact Name");
            column.For(x => x.ShipAddress).HeaderText("Shipping Address");
            column.For(x => x.OrderDate).HeaderText("Order Date");
        }).Features(features =>
        {
            features.Paging();
        }).Height("500").Width("100%").DataSourceUrl(Url.Action("PagingGetData")).DataBind().Render())

        <input type="hidden" name="pageSize" id="pageSize" value="" />
        <input type="hidden" name="pageNumber" id="pageNumber" value="" />
    }
</body>
</html>
