@using Infragistics.Web.Mvc.Mobile


<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="@Url.Content("~/css/jqm/jquery.mobile.structure.min.css")" rel="stylesheet" />

    <!-- Required Ignite UI Mobile Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/mobile/css/structure/infragistics.mobile.css")"  rel="stylesheet"/>
    <link href="@Url.Content("~/igniteui/mobile/css/themes/ios/infragistics.mobile.theme.css")"  rel="stylesheet"/>
    
    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.mobile.min.js")"></script>

    <!-- Required Ignite UI Mobile Combined JavaScript File -->
    <script src="@Url.Content("~/igniteui/mobile/js/infragistics.mobile.js")"></script>
</head>
<body>
    <div data-role="page">
        <style type="text/css">
            .sample-block { margin-top: 30px; }
            .sample-block h4 { padding: 0px; margin: 0px 10px; }
        </style>

        <div data-role="content">

                @(Html.InfragisticsMobile()
                    .Button()
                    .ID("btn1")
                    .Text("Basic Button")
                    .Render())

            <div class="sample-block">
                @(Html.InfragisticsMobile()
                    .Button()
                    .ID("btn2")
                    .Corners(false)
                    .Shadow(true)
                    .Icon(DefaultIcons.Grid)
                    .IconPosition(IconPositions.Right)
                    .IconShadow(true)
                    .Theme("b")
                    .Text("Customized Button")
                    .Render())
            </div>

            <div class="sample-block">
                <h4>Inline Buttons</h4>
                @(Html.InfragisticsMobile()
                    .Button()
                    .ID("btn4")
                    .Mini(true)
                    .Inline(true)
                    .Icon(DefaultIcons.Check)
                    .Text("OK")
                    .Render())

                @(Html.InfragisticsMobile()
                    .Button()
                    .ID("btn3")
                    .Mini(true)
                    .Inline(true)
                    .Icon(DefaultIcons.Delete)
                    .Text("Cancel")
                    .Render())
            </div>

            <div class="sample-block">
                <h4>Submit Buttons</h4>
                @(Html.InfragisticsMobile()
                    .Button()
                    .ID("btn5")
                    .Mini(true)
                    .Inline(true)
                    .Icon(DefaultIcons.Check)
                    .IconPosition(IconPositions.Right)
                    .IsSubmitButton(true)
                    .Text("Submit")
                    .Theme("e")
                    .Render())
            </div>

        </div>
    </div>

</body>
</html>
