@using Infragistics.Web.Mvc
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/css/themes/infragistics/infragistics.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/igniteui/css/structure/infragistics.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>

    <!-- Ignite UI Required Combined JavaScript File -->
    <script src="../../igniteui/js/infragistics.core.js"></script>
    <script src="../../igniteui/js/infragistics.lob.js"></script>
</head>
<body>
    @(Html.Infragistics().
        HtmlEditor().
        Width("99%").
        ID("htmlEditorSample").
        Render()
    )
	<style type="text/css">
		/* Override sample's browser styles */
    	#htmlEditorSample h1, #htmlEditorSample h2, #htmlEditorSample h3, #htmlEditorSample h4, #htmlEditorSample h5, #htmlEditorSample h6 { margin: 0px; }
    	#htmlEditorSample h1 { font-size: 1.9em; }
		#sampleContainer { overflow: visible; }
    </style>
</body>
</html>
