@using Infragistics.Web.Mvc.Mobile


<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="@Url.Content("~/css/jqm/jquery.mobile.structure.min.css")" rel="stylesheet" />

    <!-- Required Ignite UI Mobile Combined CSS Files -->
    <link href="@Url.Content("~/igniteui/mobile/css/structure/infragistics.mobile.css")"  rel="stylesheet"/>
    <link href="@Url.Content("~/igniteui/mobile/css/themes/ios/infragistics.mobile.theme.css")"  rel="stylesheet"/>
    
    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jqm/jquery.mobile.min.js")"></script>

    <!-- Required Ignite UI Mobile Combined JavaScript File -->
    <script src="@Url.Content("~/igniteui/mobile/js/infragistics.mobile.js")"></script>
</head>
<body>
    <div data-role="page">
        
        <script type="text/javascript">
            $(function () {
                // Fix for IE where jQuery mobile's blur method sends the IE window to the background
                $('body').blur(function (e) { e.preventDefault(); });
            });
        </script>

        <div data-role="content">

            @(Html.InfragisticsMobile()
                .SelectMenu()
                .Label("Salads")
                .ID("saladMenu")
                .Multiple(true)
                .NativeMenu(false)
                .Items(s =>
                {
                    s.MenuItems.Add(new SelectMenuItem { Text = "House" , Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Greek" , Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Caesar" , Selected = false });
                })
                .Render()
            )

        Choose Time
        <fieldset data-role="controlgroup" data-type="vertical">
            @(Html.InfragisticsMobile()
                .SelectMenu()
                .ID("Day")
                .Items(s =>
                {                
                    s.MenuItems.Add(new SelectMenuItem { Text = "Monday", Selected = true });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Tuesday", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Wednesday", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Thursday", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Friday", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Saturday", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Sunday", Selected = false });
                })
                .Render()
            )
            @(Html.InfragisticsMobile()
                .SelectMenu()
                .ID("Time")
                .Items(s =>
                {
                    s.MenuItems.Add(new SelectMenuItem { Text = "Morning", Selected = true });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Afternoon", Selected = false });
                    s.MenuItems.Add(new SelectMenuItem { Text = "Evening", Selected = false });
                })
                .Render()
            )
        </fieldset>
        </div>
    </div>

</body>
</html>
